.container {
  margin: auto auto 1rem auto;
  min-width: 3rem;
  min-height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
  background-color: var(--white);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.055);
  z-index: 50;
}