.container_selected_status{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: space-between;

  & > div {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(1rem);
    }
  }

  .control {
    position: relative;
    height: 3rem;
    width: 3rem;
    border-radius: 1.5rem;
    border: 0;
    background-color: rgba(0, 0, 0, 0.226);
  }

  .main_element{
    position: relative;
    height: 100%;
    justify-content: space-between;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.193);

    img{
      height: 100%;
      object-fit: contain;
    }

    p{
      position: absolute;
      font-size: 1rem;
      color: var(--white);
      bottom: 3rem;
      right: 50%;
      max-width: 90%;
      text-align: center;
      transform: translate(50%);
    }
  }
}