.wrapper {
  display: flex;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;

  &.me {
    justify-content: flex-end;
  }

  .buttons_wrapper{
    display: flex;
    
    button {
      width: 2rem;
      height: 2rem;
      border-radius: 1rem;
      padding: 0.3rem;
      border: 0;
      transition: 0.2s;
      transform: translateX(50%);
      opacity: 0;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.144);
      background-color: var(--white);
    }
  }
  &:hover {
    .buttons_wrapper{
      button {
        display: flex;
        transform: translateX(0%);
        opacity: 1;
      }
    }
  }
}

.container{
  position: relative;
  width: fit-content;
  min-width: 10rem;
  max-width: 70%;
  background-color: var(--white);
  border-radius: 7px 0px 7px 7px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.185);
  margin: 2px 0 2px 0;
  padding: 0.2rem 0.5rem;
  
  display: flex;
  flex-direction: column;
  animation: slidein 0.3s;

  &.me {
    background-color: var(--soft-green);
  }

  .referencedTo_container {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    width: calc(100% + 0.8rem);
    transform: translateX(-0.4rem);
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.068);
    padding: 0.5rem;
    border-left: 3px solid rgb(196, 32, 196);
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 0.2rem;

    span {
      color: var(--gray-800);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 0.8rem;

      &.my_name{
        color: rgb(196, 32, 196);
        font-weight: 600;
      }
    }
  }
  .message_content_container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.3rem;
  }

  .arrow_right{
    position: absolute;
    right: -15px;
    top: -2px;
    height: 15px;
    width: 15px;
    color: #fff;

    svg{
      width: 8px;
      height: 13px;
      fill: #dcf8c6
    }
  }

  .time_and_receiver{
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;

    margin-left: auto;

    .time{
      position: relative;
      bottom: 0;
    }
  }
}

.message{
  word-wrap: normal;
  margin-top: 3px;
  padding: 0;
  word-break: break-word;
  font-size: 1rem;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.3rem;
  color: var(--text-dark);
}