.main{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;

  aside{
    max-width: 30%;
    min-width: 30%;
    background-color: transparent;
  }
  main{
    max-width: 70%;
    min-width: 70%;
    background-color: transparent;
  }
}

@media only screen and (max-width: 800px) {
  .main{
    aside{
      max-width: 45%;
      min-width: 45%;
    }
    main{
      max-width: 55%;
      min-width: 55%;
    }
  }
}