.container{
  margin: 1rem 0;
  position: relative;
  width: 100%;

  span{
    position: absolute;
    transform: translate(50%, -50%);
    top: 50%;
    left: 0%;
    background-color: var(--white);
    padding: 0 0.3rem;
    transition: 0.2s ease;
    pointer-events: none;
    color: var(--gray-700);
  }
  &:focus-within{
    span{
      top: 0;
      left: -5%;
    }
    input{
      border: 2px solid var(--gray-700);
    }
  }

  input{
    transition: 0.2s ease;
    width: 100%;
    padding: 1rem;
    border: 2px solid var(--gray-400);
    border-radius: 7px;
    outline: 0;
  }
  &.is_filled{
    input{
      border: 2px solid var(--green-500);
    }
    span{
      color: var(--green-500);
      top: 0;
      left: -5%;
    }
  }
}