* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Segoe UI,Helvetica Neue,Helvetica,Lucida Grande,Arial,Ubuntu,Cantarell,Fira Sans,sans-serif;
    color: rgb(148, 148, 148);
    text-decoration: none;
}

.App {
    display: grid;
    place-items:  center;
    height: 100vh;
    background-color: #dadbd3;
}
.app-body{
    display: flex;
    background-color: #ededed;
    height: 100vh;
    width: 100vw;
    box-shadow: -1px 4px 20px rgba(0, 0, 0, 0.25);
}