.search_bar{
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 50px;
  padding: 0px 15px;
  background-color: #f6f6f6;
  
  > div{
    position: relative;
    width: 100%;
    margin: auto;

    > svg{
      position: absolute;
      top: 8px;
      left: 15px;
      pointer-events: none
    }
    input{
      margin: auto;
      width:100%;
      height: 35px;
      border-radius: 20px;
      border: none;
      outline: none;
      padding: 10px 0px 10px 45px;
      color: var(--gray-700);

      &::placeholder{
        color: var(--gray-700);
      }

      &:focus{
        border: 2px solid var(--gray-400);
      }
    }
  }
}