.container{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  padding: 20px 60px;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: 0.2s;

  &.blur{
    filter: blur(1rem);
  }

  .go_to_down{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: none;
    outline: none;
    position: fixed;
    right: 30px;
    bottom: 100px;
    transition: 0.3s ease;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.185);
  }
}