.container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-right: 1px solid var(--gray-400);

  .chats{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 100%;
  }
}