.user_container{
  width: 100%;
  min-height: 5rem;
  border: 0;
  border-radius: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);

  border-bottom: 1px solid var(--gray-100);
  padding: 0px 1rem;
  cursor: pointer;

  transition: 0.3s ease;
  z-index: 5;

  .user_img{
    transition: 0.2s ease;
    min-height: 3.4rem;
    min-width: 3.4rem;
    background-color: var(--gray-100);
    border-radius: 1.7rem;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.online{
      border: 2px solid var(--green-800);
      background-color: transparent;
    }
  }

  .container_char{
    width: calc(100% - 3.5rem);
    overflow: hidden;

    .name_and_time{
      display: flex;
      align-items: center;
      justify-content: space-between;

      span{
        font-size: 1rem;
        white-space: nowrap;

        &:first-child{
          color: var(--black);
        }
        &:last-child{
          font-size: 0.8rem;
        }
      }
    }

    .message_and_counter{
      position: relative;
      display: flex;
      width: 100%;
      overflow: hidden;
      align-items: center;
      justify-content: space-between;
      margin-top: 0.4rem;

      .writting{
        color: var(--green-800);
        font-size: 0.8rem;
      }

      .lastMessage{
        display: flex;
        gap: 0.3rem;
        align-items: center;
        white-space: nowrap;
        overflow: hidden;
        
        span {
          flex: 1;
          overflow: hidden;
          font-size: 0.8rem;
          text-overflow: ellipsis;
        }

        &.blur{
          filter: blur(5px);
        }
      }

      .message_counter {
        transition: 0.2s ease;
        min-width: 1.25rem;
        min-height: 1.25rem;
        border-radius: 0.625rem;
        background-color: var(--green-800);
        color: var(--white);
        font-size: 0.75rem;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .details{
        transition: 0.15s;
        border: 0;
        background-color: transparent;
        z-index: 7;
        margin-left: 0.3rem;
      }
    }
  }
  &:hover{
    filter: brightness(0.9);
  }

}

.active {
  background-color: var(--gray-100);
  .user_img {
    filter: brightness(0.9);
  }
}