.slide{
  position: fixed;
  width: 30%;
  height: 100%;
  z-index: 99;
}

@media only screen and (max-width: 800px) {
  .slide{
    min-width: 45%;
  }
}

.slideIn{
  animation: slideIn;
}
.slideOut{
  animation: slideOut;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to{
    transform: translateX(0%);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0%);
  }
  to{
    transform: translateX(-100%);
  }
}