.container{
  position: fixed;
  top: 0;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.658), transparent);
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  
  & > button {
    background-color: transparent;
    height: auto;
    width: auto;
    border-radius: 0;
    border: 0;
  }

  .active_status_container {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 0.7rem;

    .active_status_photo {
      min-height: 2.5rem;
      min-width: 2.5rem;
      border-radius: 1.25rem;
      background-color: yellowgreen;
    }

    div:last-child{
      display: flex;
      flex-direction: column;
      gap: 0.2rem;

      span:first-child{
        font-size: 1rem;
        color: var(--white);
      }
      span:last-child{
        font-size: 0.8rem;
      }
    }
  }
}